DB_SERVER=your-rds-endpoint.amazonaws.com
DB_NAME=CityVendDev
DB_USER=admin
DB_PASSWORD=your-password
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true

JWT_SECRET=b12319004fe9b2754b97fe67c3bd1042f1a9228778c25edb0e71d9144faa3b3b
SITE_URL=http://localhost:3000

APP_ENV=DEV
